#.gitignore

i3/jump/__pycache__/

ranger/bookmarks
ranger/history
ranger/tagged

.moc/*
!.moc/config

smplayer/*
!smplayer/playlist.ini
!smplayer/smplayer.ini

mpd/*
!mpd/config

mpv/*
!mpv/input.conf

ncmpcpp/*
!ncmpcpp/config

fcitx/*
!fcitx/addon
!fcitx/conf
!fcitx/config
!fcitx/profile

.vim/.netrwhist

roxterm.sourceforge.net/*
!roxterm.sourceforge.net/Global
!roxterm.sourceforge.net/Profiles/Default

.fonts/font-awesome/*
!.fonts/font-awesome/FontAwesome.otf
!.fonts/font-awesome/fontawesome-preview.pdf

psd/.psd.conf
