#.gitignore

i3/jump/__pycache__/

ranger/bookmarks
ranger/history
ranger/tagged

.moc/*
!.moc/config

smplayer/*
!smplayer/smplayer.ini

fcitx/*
!fcitx/config
!fcitx/profile
!fcitx/conf

.vim/.netrwhist
